body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Esto elimina el scroll */
}
.centrar {
    width: 684px;
    height: 606px;
    object-fit: contain; /* Hace que la imagen se ajuste manteniendo su aspecto */
}


